# Xcode
*.xcworkspace
xcuserdata
DerivedData
build
.DS_Store

# Build Artifacts
*.app
*.ipa
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate

# Swift Package Manager
Packages/
Package.resolved
