<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign in </string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.507392296555-hp5od4f6764e863fh8jb42enppgn9rr1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>507392296555-hp5od4f6764e863fh8jb42enppgn9rr1.apps.googleusercontent.com</string>
</dict>
</plist>
