<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select a profile picture.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need to save photos to your library for profile image updates.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>BUNDLE_ID</key>
			<string>se.Equipment-Booking</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign in </string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.507392296555-hp5od4f6764e863fh8jb42enppgn9rr1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>507392296555-hp5od4f6764e863fh8jb42enppgn9rr1.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
